
.product-info{
    background:#FFF(240, 25, 240);
    max-width: 700px;
    margin: 20px auto 0;
    padding: 0 20px;
  

}

.product-info  {

    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.product-info p {

    font-size: 16px;
    color: #999;
    margin-top: 5px;
    line-height: 24px;
}



.product-info .action{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

}

.product-info .action {

    padding: 10px;
    border-radius: 5px;
    border: 0;
    background: #da552f;
    color: #FFF;
    font-size: 16;
    font-weight: bold;
    cursor: pointer;

}

.product-info .action link[disabled]{

    opacity: 0.5;
    cursor: default;
    background: #999;

}

.product-info .action button:hover {
    opacity: 0.7;
}

.product-info .action button:hover[disabled]{

    opacity: 0.5;
    cursor: default;
    background: #999;
}


.link {

    
    margin-top: 35px;

}

.link a{

    padding: 10px;
    border-radius: 5px;
    border: 0;
    background: #da552f;
    color: #FFF;
    font-size: 16;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;

    
   

}

.link a:hover{

opacity: 0.5;

}